* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
  --border-photo: #00FF00;
  
}

body {
  background: var(--body-bg-color);
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--text-color);
  padding: 4rem;
}

.wrapper {
    display: flex;
    gap: 6rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.card {
  background: #302F3D;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 3rem 2rem;
}

.presentation {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.presentation .card {
  width: 34.8rem;
}

.presentation-card {
  text-align: center;
}

.presentation-card img, .post img {
  width: 12.8rem;
  height: 12.8rem;
  margin-bottom: 3rem;
  border-radius: 50%;
  border: 2px solid var(--border-photo);
}

.presentation-card h2 {
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.9rem;
  padding-bottom: 1rem;
}

.presentation-card p {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding-bottom: 2rem;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0 2rem;
}

.about-item p, .about-item a {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;
  border-bottom: 1px solid var(--bg-cards);
}

.about-item a:hover {
  border-bottom: 1px solid var(--text-color);
}

.tech .card{
  padding: 0 3rem;
}

.tech h2, .experiences h2, .training h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}

.tags {
  margin: 0 1rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.tech .tags h2 {
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 3rem;

  background: #CB92B1;
  color: #000000;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3rem;

  text-transform: uppercase;
  text-align: center;

  transition: all 0.4s ease;
}

.tech .tags h2:hover {
  color: #CB92B1;
  background: #000000;
  cursor: pointer;
  transform: scale(1.1);
}

.experiences ul, .training ul{
  margin-left: 4rem;
}

.experiences ul li h2, 
.training ul li h2 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin: 0;
}

.experiences ul li p,
.training ul li p {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.experiences ul li p span,
.training ul li p span {
  font-weight: 400;
}

section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content {
  width: 100%;
}

.my-projects, .recent-posts {
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-projects h2, .recent-posts h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
}

.my-projects a {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  border-bottom: 1px solid var(--bg-cards);

}

.my-projects a:hover {
  border-bottom: 1px solid var(--text-color);
}

.projects {
  display: flex;
  gap: 3rem;
}

.projects .card {
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.projects .title-project {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.projects .description {
  margin-bottom: 3rem;
}

.footer-project {
  display: flex;
  justify-content: space-between;
}

.footer-project .info-github {
  display: flex;
  align-items: center;
}

.footer-project .info-github p + img {
  margin-left: 1.6rem;
}

.footer-project .info-github img + p {
  margin-left: 0.8rem;
}

.footer-project .stack {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.post {
  padding: 3rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.post img {
  border: 0;
  margin: 0;
}

.post h2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
}

.post p, .post ul li {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 2.8rem;
}

.post .description-post {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 1px;
}

.post ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.post ul li {
  margin-bottom: 0;
  list-style: none;
  line-height: 0.2;
}

footer {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  padding-top: 2rem;
}

@media screen and (max-width: 1024px) {
  .projects {
    flex-direction: column;
  }

  .post img {
    display: none;
  }
}

@media screen and (max-width: 836px) {
  body {
    padding: 4rem 8rem;
  }
  
  .wrapper {
    flex-direction: column;
  }

  .presentation .card {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 4rem 4rem;
  }
  
  .tags {
    margin: 0 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .about-item img {
    display: none;
  }
}